<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head') %>
        <title>Document</title>
</head>

<body>
    <div class="container fluid">
        <div class="row position-sticky">
            <%- include('../sidebar') %>
                <main class="col-md-9 col-lg-10 p-4">
                    <a href="javascript:history.back()">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <div class="container mt-4">
                        <div class="d-flex justify-content-between mb-3">
                            <h3>All Expenses</h3>

                            <a href="/accounts/expenses/add" class="btn btn-primary">
                                Add Expense
                            </a>
                        </div>

                        <table class="table table-bordered">

                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>

                            <tbody>

                                <% if(expenses.length===0){ %>

                                    <tr>
                                        <td colspan="6" class="text-center">
                                            No expenses found
                                        </td>
                                    </tr>

                                    <% } %>

                                        <% expenses.forEach(expense=> { %>

                                            <tr>

                                                <td>
                                                    <%= expense.id %>
                                                </td>

                                                <td>
                                                    <%= expense.title %>
                                                </td>


                                                <td>
                                                    <%= expense.amount %>
                                                </td>

                                                <td>
                                                    <%= expense.expense_date.toISOString().split('T')[0]  %>
                                                </td>

                                            </tr>

                                            <% }) %>

                            </tbody>

                        </table>

                    </div>
                </main>
        </div>
    </div>
</body>

</html>