<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head') %>
        <title>Document</title>
</head>

<body>
    <div class="container fluid">
        <div class="row position-sticky">
            <%- include('../sidebar') %>
                <main class="col-md-9 col-lg-10 p-2">
                    <a href="javascript:history.back()">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <div class="container mt-4">

                        <h3>All Payments</h3>
                        <a href="/payments/add" class="btn btn-primary mb-3">Add Payment</a>
                        <table class="table table-bordered table-striped">

                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Reference</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>

                            <tbody>

                                <% payments.forEach(p=> { %>

                                    <tr>
                                        <td>
                                            <%= p.id %>
                                        </td>

                                        <td class="text-capitalize">
                                            <%= p.payment_type %>
                                        </td>

                                        <td>
                                            <%= p.reference_id ? p.reference_id : '-' %>
                                        </td>

                                        <td>
                                            <%= p.account_name %>
                                        </td>

                                        <td>
                                            <%= Number(p.amount).toLocaleString() %>
                                        </td>

                                        <td>
                                            <%= p.payment_date.toISOString().split('T')[0]  %>
                                        </td>

                                        <td>
                                            <%= p.reference || '-' %>
                                        </td>

                                    </tr>

                                    <% }) %>

                            </tbody>

                        </table>

                    </div>
                </main>
        </div>
    </div>
</body>

</html>