<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head') %>
        <title>Document</title>
</head>

<body>
    <div class="container fluid">
        <div class="row position-sticky">
            <%- include('../sidebar') %>
                <main class="col-md-9 col-lg-10 p-4">
                    <div class="container-fluid">

                        <h3 class="mb-4">Human Resource Dashboard</h3>

                        <div class="row">

                            <!-- Total Employees -->
                            <div class="col-md-3">
                                <div class="metric-card mb-3">
                                    <div>
                                        <h6 class="metric-title">Total Employees</h6>
                                        <h3>
                                            <%= stats.totalEmployees %>
                                        </h3>
                                    </div>
                                </div>
                            </div>


                            <!-- New Hires -->
                            <div class="col-md-3">
                                <div class="metric-card mb-3">
                                    <div>
                                        <h6 class="metric-title">Total Payroll</h6>
                                        <h3>
                                            <%= stats.totalPayroll %>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <!-- Total Payroll -->
                            <div class="col-md-3">
                                <div class="metric-card mb-3">
                                    <div>
                                        <h6 class="metric-title">New Hires</h6>
                                        <h3>
                                            <%= stats.newHires%>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <!-- Departments Count -->
                            <div class="col-md-3">
                                <div class="metric-card mb-3">
                                    <div>
                                        <h6 class="metric-title">Departments</h6>
                                        <h3>
                                            <%= stats.departmentCount %>
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Quick Actions -->
                    <div class="custom-card b-4 mb-3">
                        <div class="custom-card-body">

                            <h5 class="mb-3">Quick Actions</h5>
                            <div class="d-flex align-items-center">
                                <a href="/hr/add" class="btn action-btn me-2 mb-2">
                                    Add Employee
                                </a>

                                <a href="/hr/list" class="btn action-btn me-2 mb-2">
                                    View Employees
                                </a>

                                <a href="/hr/payroll/add" class="btn action-btn me-2 mb-2">
                                    Add Payroll
                                </a>

                                <a href="/hr/payroll/list" class="btn action-btn me-2 mb-2">
                                    View Payroll
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Department Wise Count Table -->
                    <div class="custom-card shadow-sm">
                        <div class="custom-card-body">

                            <h5 class="mb-3">Department Wise Employees</h5>

                            <div class="table-responsive">
                                <table class="table">

                                    <thead>
                                        <tr>
                                            <th>Department</th>
                                            <th>Employees</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <% stats.departmentWise.forEach(d=>{ %>
                                            <tr>
                                                <td>
                                                    <%= d.name %>
                                                </td>
                                                <td>
                                                    <%= d.count %>
                                                </td>
                                            </tr>
                                            <% }) %>

                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>

        </div>
        </main>
    </div>
    </div>
</body>

</html>